
<h3>Anställningar</h3>
<ul>
<li>Talentum som reporter på Ny Teknik och Digital Teknik (2015 - )</li>
<li>IDG.se som reporter(2014 - 2015)</li>
<li>Computer Sweden som reporter (2012 – 2014)</li>
<li>Mobil som chefredaktör (2011 – 2012) </li>
<li>Metro Teknik som nyhetschef (2007 – 2011) </li>
<li>Ny Teknik som IT-redaktör och IT-reporter (2002-2007) </li>
<li>Elektroniktidningen som nyhetsredaktör och reporter (2000-2002) </li>
<li>Ny Teknik som vikarierande it-reporter och reporter på industridelen (2000) </li>
<li>Elfsborgs läns allehanda som vikarierande reporter (1999 - 2000) </li>
</ul>

<h3>Fortbildning</h3>
<ul>
<li>Tre dagar: sex verktyg - kurs i redaktionell ledning hos Mediamentorerna (hösten 2008) </li>
</ul>
<h3>Utbildning</h3> 
<li>Journalisthögskolan i Göteborg (ht 1998 - vt 1999) </li>
<li>Magisterexamen i miljövetenskap Göteborgs universitet (vt 1994- vt1998) </li>
<li>Fristående kurser i statistik, matematik, statskunskap, engelska, filosofi och datavetenskap vid Göteborgs universitet </li>
</ul>

